.detail{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 50px;
    font-size: 150%;
}
.detail img{
    max-width: 600px;
    width: 100%;
    margin: 20px;
    height: 600px;
    object-fit: cover;
    display: block;
}
.box-detail{
    max-width: 500px;
    width: 100%;
    margin: 5px 20px;
}
.box-detail .row{
    display: flex;
    align-items: center;
    
    
}
.box-detail span{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 1rem;
    font-size: 20px;
}
.row img{
    height: auto;
    width: 7%;
    filter: brightness(0%);
}

.price{
    display: flex;
    align-items: center;

}
.box-detail .price img{
    height: auto;
    width: 3%;
}
.row label{
        font-size: 20px;
        font-weight: 900;
        display: block;
        color: #555;
        margin-bottom: 0px !important;
    
}
.box-detail p{
    line-height: 1.5;
    margin: 10px 0;
    opacity: 0.8;
}
.box-detail .cart{
    background: #333;
    color: white;
    margin-top: 10px;
    padding: 10px 25px;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2px;
}