.sec {
    height: 82vh;
    width: 92%;
    margin: 0.5% 0 0 4%;
    background-image: url(.//travel-blog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 15px 15px rgb(0 0 0 / 50%);
    overflow: hidden;
    position: relative;
  }
  .content_user{
    margin-top: 5px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .header-text-user {
    padding: 40px 10px 5px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
  
  }
  
   .text-center-user {
    font-size: 15px;
    font-weight: lighter;
    font-family: monospace;
    margin-top: -20px;
  
  }
  .text-center-user h2{
    font-size: 3rem;
    letter-spacing: 0.2rem;
  }
  .search-user{
    display: flex;
    background-color: #fff;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-left: 50px;
    margin-top: 20px;
  }
  .container-user{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 1.5rem;
  
  }
  label{
    font-size: 1.1rem;
  }
  .container-user input{
    background-color: transparent;
    border: none;
    text-align: center;
    color: black;
  }
  .banner-btn-user {
    border: 3px solid #4361ee;
    width: 200px;
    height: 42px;
    margin-top: 40px;
    margin-left: 50px;
    background: #4361ee;
    border-radius: 35px;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    transition: all .8s ease;
    font-weight: 700;
  }