@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.banner{
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("bookig.png") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 20px; 
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
}
.card-img{
    background: url("banner.jpg") center/cover no-repeat;
}
.banner h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #fff;
    height: 700px;
}
.card-content .title{
    color: #000;
    font-size: 25px;
    font-weight: 500;
    position:relative;
    margin-left: 140px;
}
.card-content .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);
}

.form label{
    margin-bottom: 5px;
    margin-top: 10px;
    font-size: 12px;
    color: #000;
}
input::placeholder{
    color: #fff !important;
}
.input-grp{
    width: 200px;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
}
.select-date{
    padding: 11px 35px;
}
.custom-select{
    padding: 11px 18px;
    color: #333333;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    cursor: pointer;
    border-radius: 5px;
}
.form-control{
    font-size: 12px!important;
    border-radius: 0!important;
    color: #000 !important;
    background: transparent!important;
    box-shadow: none!important;
}
.input-gr button{
    margin-left: 160px;
    margin-top: 50px;
    color: #fff;
    width: 100px;
    font-size: 18px;
    background: linear-gradient(315deg, #6a93cb 0%, #a4bfef 74%);

}
@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}
